allow adsprpcd system_file:file { execute } ;
allow adsprpcd system_file:file { getattr } ;
allow adsprpcd system_file:file { open } ;
allow adsprpcd system_file:file { read } ;