allow hal_dms_default system_file:file { execute } ;
allow hal_dms_default system_file:file { getattr } ;
allow hal_dms_default system_file:file { open } ;
allow hal_dms_default system_file:file { read } ;