allow hal_sensors_default diag_device:chr_file { open } ;
allow hal_sensors_default diag_device:chr_file { read write } ;
allow hal_sensors_default system_file:file { execute } ;
allow hal_sensors_default system_file:file { getattr } ;
allow hal_sensors_default system_file:file { open } ;
allow hal_sensors_default system_file:file { read } ;