allow hal_memtrack_default system_file:file { execute } ;
allow hal_memtrack_default system_file:file { open } ;
allow hal_memtrack_default system_file:file { read } ;