allow hal_usb_default system_file:file { getattr } ;
allow hal_usb_default system_file:file { open } ;
allow hal_usb_default system_file:file { read } ;