allow hal_camera_default apexd_prop:file { getattr } ;
allow hal_camera_default apexd_prop:file { open } ;
allow hal_camera_default aplog_svc_prop:file { open } ;
allow hal_camera_default ctl_qcrild_prop:file { getattr } ;
allow hal_camera_default ctl_qcrild_prop:file { open } ;
allow hal_camera_default ctl_restart_prop:file { getattr } ;
allow hal_camera_default ctl_restart_prop:file { open } ;
allow hal_camera_default ctl_rildaemon_prop:file { getattr } ;
allow hal_camera_default ctl_rildaemon_prop:file { open } ;
allow hal_camera_default ctl_sigstop_prop:file { getattr } ;
allow hal_camera_default ctl_sigstop_prop:file { open } ;
allow hal_camera_default device_config_activity_manager_native_boot_prop:file { getattr } ;
allow hal_camera_default device_config_activity_manager_native_boot_prop:file { open } ;
allow hal_camera_default system_file:file { execute } ;
allow hal_camera_default system_file:file { getattr } ;
allow hal_camera_default system_file:file { open } ;
allow hal_camera_default system_file:file { read } ;
allow hal_camera_default vendor_audio_prop:file { getattr } ;
allow hal_camera_default vendor_bluetooth_prop:file { getattr } ;
allow hal_camera_default vendor_bluetooth_prop:file { open } ;
allow hal_camera_default vendor_boot_mode_prop:file { getattr } ;
allow hal_camera_default vendor_boot_mode_prop:file { open } ;
allow hal_camera_default vendor_cap_configstore_dbg_prop:file { getattr } ;
allow hal_camera_default vendor_cap_configstore_dbg_prop:file { open } ;
allow hal_camera_default vendor_cgroup_follow_prop:file { getattr } ;
allow hal_camera_default vendor_cgroup_follow_prop:file { open } ;
allow hal_camera_default vendor_data_ko_prop:file { getattr } ;
allow hal_camera_default vendor_data_ko_prop:file { open } ;
allow hal_camera_default vendor_ipacm_prop:file { getattr } ;
allow hal_camera_default vendor_ipacm_prop:file { open } ;
allow hal_camera_default vendor_mdm_helper_prop:file { getattr } ;
allow hal_camera_default vendor_mdm_helper_prop:file { open } ;
allow hal_camera_default vendor_media_sdm710_version_prop:file { open } ;