allow hal_neuralnetworks_default system_file:file { getattr } ;
allow hal_neuralnetworks_default system_file:file { open } ;
allow hal_neuralnetworks_default system_file:file { read } ;