allow hal_qteeconnector_qti system_file:file { execute } ;
allow hal_qteeconnector_qti system_file:file { getattr } ;
allow hal_qteeconnector_qti system_file:file { open } ;
allow hal_qteeconnector_qti system_file:file { read } ;