allow hal_soter_qti system_file:file { execute } ;
allow hal_soter_qti system_file:file { getattr } ;
allow hal_soter_qti system_file:file { open } ;
allow hal_soter_qti system_file:file { read } ;