allow hal_sensorscalibrate_qti_default system_file:file { execute } ;
allow hal_sensorscalibrate_qti_default system_file:file { getattr } ;
allow hal_sensorscalibrate_qti_default system_file:file { open } ;
allow hal_sensorscalibrate_qti_default system_file:file { read } ;