allow keystore default_android_hwservice:hwservice_manager { add } ;
allow keystore vendor_file:file { execute } ;
allow keystore vendor_file:file { getattr } ;
allow keystore vendor_file:file { open } ;
allow keystore vendor_file:file { read } ;