allow lmkd same_process_hal_file:file { execute } ;
allow lmkd same_process_hal_file:file { getattr } ;
allow lmkd same_process_hal_file:file { open } ;
allow lmkd same_process_hal_file:file { read } ;