allow mediaextractor vendor_default_prop:file { getattr } ;
allow mediaextractor vendor_default_prop:file { open } ;
allow mediaextractor vendor_default_prop:file { read } ;
