allow system_server default_android_hwservice:hwservice_manager { find } ;
allow system_server init:process { setsched } ;
allow system_server sysfs:file { getattr } ;
allow system_server sysfs:file { open } ;
allow system_server sysfs:file { read } ;
allow system_server sysfs:file { read open } ;
allow system_server system_server:capability { dac_read_search } ;
allow system_server tmpfs:dir { open } ;
allow system_server tmpfs:dir { read } ;
allow system_server init:binder { call } ;