allow update_engine adsprpcd_file:dir { getattr } ;
allow update_engine block_device:blk_file { getattr } ;
allow update_engine block_device:lnk_file { setattr } ;
allow update_engine bt_firmware_file:dir { getattr } ;
allow update_engine bt_firmware_file:filesystem { getattr } ;
allow update_engine cache_block_device:blk_file { getattr } ;
allow update_engine device:blk_file { create } ;
allow update_engine device:blk_file { getattr } ;
allow update_engine device:blk_file { ioctl } ;
allow update_engine device:blk_file { open } ;
allow update_engine device:blk_file { read } ;
allow update_engine device:blk_file { write } ;
allow update_engine device:dir { add_name } ;
allow update_engine device:dir { write } ;
allow update_engine dip_device:blk_file { getattr } ;
allow update_engine firmware_file:dir { getattr } ;
allow update_engine firmware_file:filesystem { getattr } ;
allow update_engine frp_block_device:blk_file { getattr } ;
allow update_engine frp_block_device:blk_file { setattr } ;
allow update_engine init:unix_stream_socket { connectto } ;
allow update_engine labeledfs:filesystem { remount } ;
allow update_engine log_blk_device:blk_file { getattr } ;
allow update_engine logdump_partition:blk_file { getattr } ;
allow update_engine loop_device:blk_file { getattr } ;
allow update_engine mba_debug_dev:blk_file { getattr } ;
allow update_engine mnt_vendor_file:dir { getattr } ;
allow update_engine modem_efs_partition_device:blk_file { getattr } ;
allow update_engine proc_filesystems:file { getattr } ;
allow update_engine proc_filesystems:file { open } ;
allow update_engine proc_filesystems:file { read } ;
allow update_engine proc_swaps:file { getattr } ;
allow update_engine proc_swaps:file { open } ;
allow update_engine proc_swaps:file { read } ;
allow update_engine property_socket:sock_file { write } ;
allow update_engine ram_device:blk_file { getattr } ;
allow update_engine rawdump_block_device:blk_file { getattr } ;
allow update_engine rootfs:dir { ioctl } ;
allow update_engine rootfs:dir { open } ;
allow update_engine rootfs:dir { read } ;
allow update_engine rpmb_device:blk_file { getattr } ;
allow update_engine sd_device:blk_file { getattr } ;
allow update_engine swap_block_device:blk_file { getattr } ;
allow update_engine sysfs_fs_ext4_features:dir { search } ;
allow update_engine sysfs_fs_ext4_features:file { read } ;
allow update_engine sysfs_graphics:dir { search } ;
allow update_engine sysfs_graphics:file { getattr } ;
allow update_engine sysfs_graphics:file { open } ;
allow update_engine sysfs_graphics:file { read } ;
allow update_engine system_file:file { execute_no_trans } ;
allow update_engine system_lib_file:file { mounton } ;
allow update_engine system_lib_file:file { relabelto } ;
allow update_engine tmpfs:dir { add_name } ;
allow update_engine tmpfs:dir { create } ;
allow update_engine tmpfs:dir { mounton } ;
allow update_engine tmpfs:dir { open } ;
allow update_engine tmpfs:dir { read } ;
allow update_engine tmpfs:dir { remove_name } ;
allow update_engine tmpfs:dir { setattr } ;
allow update_engine tmpfs:dir { write } ;
allow update_engine tmpfs:file { create } ;
allow update_engine tmpfs:file { getattr } ;
allow update_engine tmpfs:file { read write open } ;
allow update_engine tmpfs:file { relabelfrom } ;
allow update_engine tmpfs:file { rename } ;
allow update_engine tmpfs:file { setattr } ;
allow update_engine tmpfs:file { unlink } ;
allow update_engine tmpfs:filesystem { mount } ;
allow update_engine toolbox_exec:file { execute } ;
allow update_engine toolbox_exec:file { execute_no_trans } ;
allow update_engine toolbox_exec:file { getattr } ;
allow update_engine toolbox_exec:file { read open } ;
allow update_engine update_engine:capability { chown } ;
allow update_engine update_engine:capability { kill } ;
allow update_engine update_engine:capability { mknod } ;
allow update_engine update_engine:capability { sys_resource } ;
allow update_engine userdata_block_device:blk_file { getattr } ;
allow update_engine vendor_app_file:dir { search } ;
allow update_engine vendor_configs_file:dir { mounton } ;
allow update_engine vendor_configs_file:file { mounton } ;
allow update_engine vendor_configs_file:file { relabelto } ;
allow update_engine vendor_default_prop:file { getattr } ;
allow update_engine vendor_default_prop:file { open } ;
allow update_engine vendor_default_prop:file { read } ;
allow update_engine vendor_file:file { getattr } ;
allow update_engine vendor_file:file { mounton } ;
allow update_engine vendor_file:file { open } ;
allow update_engine vendor_file:file { read } ;
allow update_engine vendor_file:file { relabelto } ;
allow update_engine vendor_overlay_file:dir { getattr } ;
allow update_engine vendor_overlay_file:dir { mounton } ;
allow update_engine vendor_overlay_file:dir { open } ;
allow update_engine vendor_overlay_file:dir { read } ;
allow update_engine vendor_overlay_file:dir { search } ;
allow update_engine vendor_overlay_file:file { getattr } ;
allow update_engine vendor_overlay_file:file { mounton } ;
allow update_engine vold_device:blk_file { getattr } ;