allow vendor_init block_device:lnk_file { setattr } ;
allow vendor_init proc_security:file { write } ;
allow vendor_init sysfs:dir { add_name } ;
allow vendor_init sysfs:file { create } ;
allow vendor_init system_data_file:dir { ioctl } ;
allow vendor_init system_data_file:dir { open } ;
allow vendor_init system_data_file:dir { read } ;
allow vendor_init system_data_file:dir { setattr } ;
allow vendor_init tombstone_data_file:dir { ioctl } ;
allow vendor_init tombstone_data_file:dir { open } ;
allow vendor_init tombstone_data_file:dir { read } ;
allow vendor_init tombstone_data_file:dir { setattr } ;